html
  head
    title= name
  body
    h1 Please #{name}
    p Use Google:
    button(type="submit")
      a(href= LogIn) LogIN
    p or use our website:
    button(type="submit")
      a(href= LogIn2) LogIN2
